/* css styles */

.title {
  font-size: 7vw;
  font-style: bold;
  text-align: left;
  position: absolute;
  top: 12%;
  
  bottom: 2%;
  color: white;
  font-family: canopy;
  font-variant: large-caps;
}


.subtitle {
  font-size: 2.5vw;
  font-style: ;
  text-align: left;
  position: absolute;
  
  top: 160px;
  bottom: 5%;
  color: white;
  font-family: canopy;
  
}
.body{
  background-image: url("image.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


#/* navbar */.navbar-title {  font-family: "fraunces";}

.navbar-dark .navbar-brand {
  text-align: right;
}


.navbar-nav{
  margin-right: 50px;
  margin-left: 50px;
  
  /* Adjust the value as needed */
}

.navbar-nav .nav-item{
  padding-left: 10px;
  padding-right: 10px;
} 



#box2 {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: pink; 
  padding: 30px; 
}
.footer {
  margin-top: 100px;

}

.page-footer-title {
  font-family: "fraunces";
}